@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.multiply_table {
    margin: 100px auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 440px;
    height: 440px;
    border: #FFFFFF 2px solid;
}

.cell{
    border: black 1px solid;
    text-align: center;
    background-color: #FFFFE0;
    user-select: none;

    font-size: 20px;
}

.cell:hover{
    background-color: #FFD700;
}

.top{
    border-bottom: black 3px solid;
}

.left{
    border-right: black 3px solid;
}

.left, .top{
    background-color: #F0E68C;
    font-weight: bold;
}


.diagonal{
    background-color: #90EE90;
}