$color1: rgb(23, 110, 217);
$color2: rgb(72, 132, 206);

$scroll_color1: #8f8f8f;
$scroll_color2: #e1e1e1;

$window_width: 530;
$windows_height: 800;

$padding1: 30;
$padding2: 40;

body{
  background: $color1;
  background: linear-gradient(313deg, $color1 45%, $color2 100%);
}

.form_box{
  overflow-y: hidden;
  width: $window_width + px;
  height: $windows_height + px;
  margin: (-$windows_height/2 - $padding1) + px 0 0 (-$window_width/2 - $padding2) + px;
  position: absolute;
}

.form_box .scroll_box{
  overflow-y: scroll;
  height: ($windows_height * 0.82) + px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}

.form_box .record_box{
  width: 100%;
  //border: black 1px solid;
  margin: 10px 0;
  padding-bottom: 10px;
  height: 130px;
  display: grid;
  grid-template-columns: 40px auto;
  border-bottom: #e3e3e3 solid 2px;
}

.form_box .record_box:last-child{
  border-bottom: none;
}

.form_box .record_box .left_colum{
  grid-column-start: 1;
  position: relative;
}

.form_box .record_box .right_column{
  grid-column-start: 2;
}

.form_box .record_box .line{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form_box .record_box .name{
  font-size: 20px;
  font-weight: bold;
}

.form_box .record_box .name .second_name{
  text-transform: uppercase;
}

.form_box .record_box .contact{
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.form_box .record_box .toggle{
  margin: 0 7.5px !important;
  position: absolute !important;
  top: 15px !important;
  bottom: auto !important;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: $scroll_color2;
}
*::-webkit-scrollbar-thumb {
  background-color: $scroll_color1;
  border-radius: 5px;
  border: 2px solid $scroll_color2;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $scroll_color1 $scroll_color2;
}

#submit{
  margin-top: 20px;
  position: relative;
  width: 230px;
  background: $color1;
  background: linear-gradient(313deg, $color1 45%, $color2 100%);
}

#submit:hover{
  background: linear-gradient(133deg, $color1 45%, $color2 100%);
}