@charset "UTF-8";
body {
  background: #176ed9;
  background: linear-gradient(313deg, #176ed9 45%, #4884ce 100%); }

.form_box {
  overflow-y: hidden;
  width: 530px;
  height: 800px;
  margin: -430px 0 0 -305px;
  position: absolute; }

.form_box .scroll_box {
  overflow-y: scroll;
  height: 656px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  margin-top: 30px; }

.form_box .record_box {
  width: 100%;
  margin: 10px 0;
  padding-bottom: 10px;
  height: 130px;
  display: grid;
  grid-template-columns: 40px auto;
  border-bottom: #e3e3e3 solid 2px; }

.form_box .record_box:last-child {
  border-bottom: none; }

.form_box .record_box .left_colum {
  grid-column-start: 1;
  position: relative; }

.form_box .record_box .right_column {
  grid-column-start: 2; }

.form_box .record_box .line {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.form_box .record_box .name {
  font-size: 20px;
  font-weight: bold; }

.form_box .record_box .name .second_name {
  text-transform: uppercase; }

.form_box .record_box .contact {
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px; }

.form_box .record_box .toggle {
  margin: 0 7.5px !important;
  position: absolute !important;
  top: 15px !important;
  bottom: auto !important; }

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px; }

*::-webkit-scrollbar-track {
  background: #e1e1e1; }

*::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 5px;
  border: 2px solid #e1e1e1; }

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8f8f8f #e1e1e1; }

#submit {
  margin-top: 20px;
  position: relative;
  width: 230px;
  background: #176ed9;
  background: linear-gradient(313deg, #176ed9 45%, #4884ce 100%); }

#submit:hover {
  background: linear-gradient(133deg, #176ed9 45%, #4884ce 100%); }

/*# sourceMappingURL=admin.css.map */
