/*
  Based on Himalaya's Singh code
  Profile: https://codepen.io/himalayasingh
  Original code: https://codepen.io/himalayasingh/pen/dBJBMO
*/

$size: 20;
$transition: 0.4s;

#_checkbox {
  display: none;
}

.toggle {
  //position: absolute;
  //top: 50%;
  //right: 0;
  //left: 0;
  width: $size + px;
  height: $size + px;
  //margin: 0 auto;
  background-color: #b1b1b1;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 ($size * 0.07) + px ($size * 0.1) + px #b8c6ff;
  cursor: pointer;
  transition: $transition ease transform, $transition ease background-color,
  $transition ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: ($size * 0.7) + px;
  height: ($size * 0.7) + px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 ($size * 0.07) + px ($size * 0.1) + px #99a7ff;
  transition: $transition ease width, $transition ease height;
}

.toggle:hover:before {
  width: ($size * 0.55) + px;
  height: ($size * 0.55) + px;
  box-shadow: inset 0 ($size * 0.07) + px ($size * 0.1) + px #8b9eff;
}

.toggle:active {
  transform: translateY(-50%) scale(0.9);
}

.tick_mark {
  position: absolute;
  top: -($size * 0.01) + px;
  right: 0;
  left: 0;
  width: ($size * 0.6) + px;
  height: ($size * 0.6) + px;
  margin: 0 auto;
  margin-left: ($size * 0.14) + px;
  transform: rotateZ(-40deg);
}

.tick_mark:before,
.tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: ($size * 0.02) + px;
  opacity: 0;
  transition: $transition ease transform, $transition ease opacity;
}

.tick_mark:before {
  left: 0;
  bottom: 0;
  width: ($size * 0.1) + px;
  height: ($size * 0.3) + px;
  box-shadow: -($size * 0.02) + px 0 ($size * 0.05) + px rgba(0, 0, 0, 0.23);
  transform: translateY(-($size * 0.68) + px);
}

.tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: ($size * 0.1) + px;
  box-shadow: 0 ($size * 0.03) + px ($size * 0.05) + px rgba(0, 0, 0, 0.23);
  transform: translateX(($size * 0.78) + px);
}

input[type=checkbox]:checked + label {
  background-color: rgb(0, 34, 255);
  box-shadow: 0 ($size * 0.07) + px ($size * 0.10) + px rgb(106, 148, 255);
}

input[type=checkbox]:checked + label:before {
  width: 0;
  height: 0;
}

input[type=checkbox]:checked + label .tick_mark:before,
input[type=checkbox]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
