/*
  Based on Himalaya's Singh code
  Profile: https://codepen.io/himalayasingh
  Original code: https://codepen.io/himalayasingh/pen/dBJBMO
*/
#_checkbox {
  display: none; }

.toggle {
  width: 20px;
  height: 20px;
  background-color: #b1b1b1;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 1.4px 2px #b8c6ff;
  cursor: pointer;
  transition: 0.4s ease transform, 0.4s ease background-color, 0.4s ease box-shadow;
  overflow: hidden;
  z-index: 1; }

.toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 1.4px 2px #99a7ff;
  transition: 0.4s ease width, 0.4s ease height; }

.toggle:hover:before {
  width: 11px;
  height: 11px;
  box-shadow: inset 0 1.4px 2px #8b9eff; }

.toggle:active {
  transform: translateY(-50%) scale(0.9); }

.tick_mark {
  position: absolute;
  top: -0.2px;
  right: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin: 0 auto;
  margin-left: 2.8px;
  transform: rotateZ(-40deg); }

.tick_mark:before,
.tick_mark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 0.4px;
  opacity: 0;
  transition: 0.4s ease transform, 0.4s ease opacity; }

.tick_mark:before {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 6px;
  box-shadow: -0.4px 0 1px rgba(0, 0, 0, 0.23);
  transform: translateY(-13.6px); }

.tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 0.6px 1px rgba(0, 0, 0, 0.23);
  transform: translateX(15.6px); }

input[type=checkbox]:checked + label {
  background-color: #0022ff;
  box-shadow: 0 1.4px 2px #6a94ff; }

input[type=checkbox]:checked + label:before {
  width: 0;
  height: 0; }

input[type=checkbox]:checked + label .tick_mark:before,
input[type=checkbox]:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1; }

/*# sourceMappingURL=checkbox2.css.map */
