/*
  Based on Tristan's White code
  Profile: https://codepen.io/triss90
  Original: https://codepen.io/triss90/pen/XNEdRe
 */
.radio {
  margin: 2.5px; }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0; }
    .radio input[type="radio"] + .radio-label:before {
      content: "";
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid #b4b4b4;
      display: inline-block;
      width: 17px;
      height: 17px;
      position: relative;
      top: 0px;
      margin-right: 10px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all 250ms ease; }
    .radio input[type="radio"]:checked + .radio-label:before {
      background-color: #9f00ff;
      box-shadow: inset 0 0 0 4px #f4f4f4; }
    .radio input[type="radio"]:focus + .radio-label:before {
      outline: none;
      border-color: #9f00ff; }
    .radio input[type="radio"]:disabled + .radio-label:before {
      box-shadow: inset 0 0 0 4px #f4f4f4;
      border-color: #b4b4b4;
      background: #b4b4b4; }
    .radio input[type="radio"] + .radio-label:empty:before {
      margin-right: 0; }

/*# sourceMappingURL=radio.css.map */
