@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; }

body {
  background: #8d00e1;
  background: linear-gradient(313deg, #8d00e1 45%, #a600cc 100%); }

.form_box {
  position: absolute;
  width: 430px;
  height: 660px;
  top: 50%;
  left: 50%;
  margin: -360px 0 0 -255px;
  padding: 30px 40px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2); }

.form_box h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center; }

.form_box .input_line {
  width: 100%;
  height: 48px;
  border-bottom: 2px black solid;
  position: relative;
  display: grid;
  grid-template-columns: 35px auto; }

.form_box .input_line:last-child {
  border: none;
  grid-template-columns: auto;
  color: red;
  top: 15px;
  display: none; }

.form_box .input_line:nth-child(8) {
  border: none; }

.form_box .input_line input[type="text"],
.form_box .input_line input[type="email"],
.form_box .input_line input[type="tel"],
.form_box .input_line .form_icon,
.selector {
  position: absolute;
  top: auto; }

.form_box .input_line input[type="text"],
.form_box .input_line input[type="email"],
.form_box .input_line input[type="tel"] {
  border: none;
  outline: none;
  height: 27px;
  font-size: 20px;
  grid-column-start: 2;
  bottom: 4px; }

.form_box .input_line .form_icon {
  width: 20px;
  height: 20px;
  grid-column-start: 1;
  margin: auto 7.5px;
  bottom: 8px;
  user-select: none; }

.form_box .selection_wrapper .selection {
  grid-column-start: 2;
  font-size: 18px; }

.form_box .selection_wrapper {
  height: auto !important;
  padding-bottom: 5px; }

.form_box .selection_wrapper .selection,
.form_box .selection_wrapper .selection {
  margin-top: 15px; }

.form_box .selection_wrapper .form_icon {
  top: 18px !important;
  bottom: auto !important; }

.form_box .selection_wrapper .selection .header {
  font-size: 20px;
  margin-bottom: 3px; }

.form_box .input_line .toggle {
  margin: 0 7.5px !important;
  grid-column-start: 2;
  position: absolute !important;
  top: auto !important;
  bottom: 0 !important; }

.form_box .cb_line {
  grid-template-columns: 30px 37px auto; }

.form_box .cb_line .cb_label {
  grid-column-start: 3;
  position: absolute;
  font-size: 18px;
  bottom: 9px; }

.form_box .big_icon {
  position: relative;
  width: 50%;
  margin: 30px auto;
  display: block; }

#submit {
  position: relative;
  margin: 15px auto;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 40px;
  width: 70%;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background: #8d00e1;
  background: linear-gradient(313deg, #8d00e1 45%, #a600cc 100%);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2); }

#submit:hover {
  background: linear-gradient(133deg, #8d00e1 45%, #a600cc 100%); }

#success {
  height: 350px;
  margin: -205px 0 0 -255px;
  background: white; }

/*# sourceMappingURL=registration.css.map */
