@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$window_width: 430;
$windows_height: 660;
$color1: rgb(141, 0, 225);
$color2: rgb(166, 0, 204);
$padding1: 30;
$padding2: 40;
$incorrect_color: #de0000;

html{
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body{
  background: $color1;
  background: linear-gradient(313deg, $color1 45%, $color2 100%);
}

.form_box{
  position: absolute;
  width: $window_width + px;
  height: $windows_height + px;
  top: 50%;
  left: 50%;
  margin: (-$windows_height/2 - $padding1) + px 0 0 (-$window_width/2 - $padding2) + px;
  padding: $padding1+px $padding2+px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.form_box h1{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.form_box .input_line{
  width: 100%;
  height: 48px;
  border-bottom: 2px black solid;
  position: relative;
  display: grid;
  grid-template-columns: 35px auto;
}

.form_box .input_line:last-child{
  border: none;
  grid-template-columns: auto;
  color: red;
  top: 15px;
  display: none;
}
.form_box .input_line:nth-child(8){
  border: none;
}

.form_box .input_line input[type="text"],
.form_box .input_line input[type="email"],
.form_box .input_line input[type="tel"],
.form_box .input_line .form_icon,
.selector{
  position: absolute;
  top: auto;
}

.form_box .input_line input[type="text"],
.form_box .input_line input[type="email"],
.form_box .input_line input[type="tel"]{
  border: none;
  outline: none;
  height: 27px;
  font-size: 20px;
  grid-column-start: 2;
  bottom: 4px;
}


.form_box .input_line .form_icon{
  width: 20px;
  height: 20px;
  grid-column-start: 1;
  margin: auto 7.5px;
  bottom: 8px;
  user-select: none;
}

.form_box .selection_wrapper .selection{
  grid-column-start: 2;
  font-size: 18px;
}

.form_box .selection_wrapper{
  height: auto !important;
  padding-bottom: 5px;
}

.form_box .selection_wrapper .selection,
.form_box .selection_wrapper .selection{
  margin-top: 15px;
}

.form_box .selection_wrapper .form_icon{
  top: 18px !important;
  bottom: auto !important;
}

.form_box .selection_wrapper .selection .header{
  font-size: 20px;
  margin-bottom: 3px;
}

.form_box .input_line .toggle{
  margin: 0 7.5px !important;
  grid-column-start: 2;
  position: absolute !important;
  top: auto !important;
  bottom: 0 !important;
}


.form_box .cb_line{
  grid-template-columns: 30px 37px auto;
}

.form_box .cb_line .cb_label{
  grid-column-start: 3;
  position: absolute;
  font-size: 18px;
  bottom: 9px;
}

.form_box .big_icon{
  position: relative;
  width: 50%;
  margin: 30px auto;
  display: block;
}

#submit{
  position: relative;
  margin: 15px auto;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 40px;
  width: 70%;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background: $color1;
  background: linear-gradient(313deg, $color1 45%, $color2 100%);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

#submit:hover{
  background: linear-gradient(133deg, $color1 45%, $color2 100%);
}

#success{
  $windows_height: 350;
  height: $windows_height + px;
  margin: (-$windows_height/2 - $padding1) + px 0 0 (-$window_width/2 - $padding2) + px;
  background: white;
}